.form-number{
    text-align: center;
    & input{
        margin-top: 10px;
        border: 1px solid #9bb537;
        border-radius: 10px;
        transition: all 200ms ease-in;
        width:30vw
    }
    & input:hover, & input:focus{
        margin-top: 10px;
        outline: 1px solid #9bb537;
        border-radius: 10px;
        width:31vw;
        
    }
    & [type=submit]{
        margin-top: 20px;
        width:30vw;
        height: 30px;
        background-color: #9bb537;
        color: #f8f8f8;
        border-radius: 20px;
        border: none;
        transition: all 200ms ease-in;
        margin-bottom: 10px;
    }
    & [type=submit]:hover{
        margin-top: 25px;
        width:31vw;
        height: 35px;
        font-size: large;
        background-color: #f8f8f8;
        color: #9bb537;
        border-radius: 20px;
        border: 1px solid #9bb537;
        margin-bottom: 0px;
    }
}